.removeFromStock {
    height: 400px;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border-radius: 8px;
}

.info {
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
}

.btnRemove {
    width: 200px;
    height: 30px;
    background-color: hsla(204, 67%, 51%, 0.842);
    color: #FFFFFF;
    border-radius: 8px;
}

.remove {
    text-align: center;
    margin-left: 180px;
}