.adoption {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 110px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.catBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.514);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
    margin-top: 50px;
}

.titleDash {
    margin-top: 120px;
}

.paco {
    height: 100px;
}

.containerBoard {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}