.container {
    display: flex;
    margin-left: 260px;
    background-color: #573b8a56;
}

.progressBar {
    background-color: #ccc;
    border: 1px solid rgba(0, 0, 0, 0.308);
    width: 80%;
    height: 10px;
    border-radius: 8px;
}

.progressBarInt {
    height: 10px;
    border-radius: 8px;
    background-color: green;
}

.stock {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.514);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
}

.containerStock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.btnStock {
    background-color: hsla(204, 67%, 51%, 0.842);
    color: #000000;
    border-radius: 3px;
    padding: 10px;
    margin-left: 5px;
    font-weight: bold;
}

.btnContainer {
    display:"flex"; 
    flex-direction:"row";
    padding-bottom: 20px;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}