form {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 100px;
    width: 85%;
}

.form{
    width: 100%;
    max-width: 400px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
}

.sendButton {
    padding: 10px;
    width: 20%;
    border-radius: 5px;
}

.formRegistration {
    display: flex;
    height: calc(100vh - 200px);
}

h1 {
    text-align: center;
}

.container {
    display: flex;
}

.register {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    margin: auto;
}

.btn {
    width: calc(100vw-150px);
    max-width: 430px;
    background-color: hsla(204, 67%, 51%, 0.842);
    color: #FFFFFF;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;  
    text-align: center; 
}

.btn:hover {
    background-color: #573b8ade;
}